[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HurreconR"]
	path = HurreconR
	url = https://github.com/hurrecon-model/hurreconr
